table {
    width: 100%;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 10%;
    font-size: 12px;

}

td {
    padding: 10px;
}

.mat-button {
    background-color: #c2185b;
    //font-size: 18px;
}